.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 32px;
   width: 100%;
}
app-daily-chart {
   width: 100%;
   max-width: 800px;
   // margin: 0 16px;
}

app-hourly-chart {
   width: 100%;
   max-width: 800px;
   // margin: 0 16px;
}
